[Unit]
Description=xremap key remapper
After=systemd-udev-settle.service

[Service]
ExecStart=/usr/bin/xremap /etc/xremap/config.yaml
Restart=always

[Install]
WantedBy=multi-user.target